[user]
  name = Tom Gates
  email = thomas.gates@shopify.com
[core]
  commitGraph = true
[alias]
  cp = cherry-pick
  st = status -s
  cl = clone
  ci = commit
  co = checkout
  nb = "!f() { \
    if [ -z \"$1\" ]; then \
      echo \"Error: Please provide a branch name.\"; \
      return 1; \
    fi; \
    current_date=$(date +\"%Y%m%d\"); \
    branch_name=\"tg-${current_date}-$1\"; \
    git checkout -b \"$branch_name\"; \
  }; f"
  br = branch
  diff = diff --word-diff
  dc = diff --cached
  fo = fetch origin
  p = push
  pf = push --force-with-lease
  rbh = "!f() { git rebase -i HEAD~$1; }; f"
  rbm = rebase origin/master
  sl = stash list
  sa = stash apply
  ss = stash save
  visual = !gitk
  last = log -1 HEAD
  unstage = reset HEAD --
[push]
  default = current
[diff]
  algorithm = patience
[protocol]
  version = 2
[gc]
  writeCommitGraph = true
